body {
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
	font-size: small;
	background-color: #f7f5f5;
}

#allcontent {
	padding: 5px 15px;
	background-color: #f7f5f5;
	
}

.calldescription {
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: medium;

}

.sidecheck.well{
	margin-bottom: 10px;
	margin-top: 15px;
	color: #1f6377;
	font-weight: bold;
	text-align: center;
}

.intro {
	padding-top: 20px;
}

.logo {
	background-image: url("../img/toyota.gif");
	background-repeat: no-repeat;
	height: 75px;
}

.ideas {
	margin-top: 40px;
}
.ideas li {
	height: 100px;
	font-size: 2em;
}


.action {
	/*border-width: 1px;
	border-color: grey;
	border-style: dotted;*/
	margin-top: 40px;
	line-height: 25px;
}

.counter {
	margin-top: 10px;
}

.reasons{
	margin-top: 50px;
}

.sidebar {
	/*border-left: thin dotted grey;*/
	margin-left: 19px;
}

.bait {
	color: rgb(233, 21, 21);
}
h4.bait {
	text-decoration: underline;
}

.info{
	color: #1f6377;
}

.comments {
	margin-top: 70px;
	margin-bottom: 70px;
}
.additional-comment{
	display: none;
}
.summary-comment{
	font-style: italic;

}
.author{
	margin-top: 20px;
}

.span8 h4{
	text-align: center;
	margin-bottom: 30px;
	color: #1f6377;
}

.step{
	margin-left: 15px;
}
.icon-arrow-right{
	position: center;

}
a {
color:#1f6377;
text-decoration:none
}
a:active {
color:#1f6377;
text-decoration:none
}
a:visited {
color:#5bc0de;
text-decoration:none
}
a:hover {
color:#666;
text-decoration: underline
}
 
.aim{
	border: solid thin rgb(233, 21, 21);
	margin-left: 0px;
	/*padding-left: 10px;
	padding-right: 0px;*/
	margin-top: 40px;
}

.footerone{
	margin-top: 50px;
}

.princips-list li {
	list-style: none;
}

.princips-list li, .reasons-list li {
	margin-top: 7px;
	margin-bottom: 7px;
}

.well-large{
	margin-top: 70px;
}

/*** FORM STYLES ***/
/*.application .control-group {
	width: 120px;

}

.application .controls {
	margin-left: 150px;
}*/