body {
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
	font-size: small;
	background-color: #274e23;
}

#allcontent {
	padding: 5px 15px;
	background-color: #CC9;
	color: #033;
}

.callcontainer {
	margin-top: 20px;
}

.logo {
	background-image: url("../img/piccolo.gif");
	background-repeat: no-repeat;
	height: 75px;
}

h1 {
	margin-top: 0px;
}

.ideas {
	margin-top: 40px;
}
.ideas li {
	height: 100px;
	font-size: 2em;
}



