
/** Commmon overloading **/

a {
	text-decoration:none
}

a:active {
	text-decoration:none
}

a:visited {
	text-decoration:none
}

a:hover {
	text-decoration: underline
}

.well-large {
	margin-top: 70px;
}

.well-large {
	margin-top: 70px;
}

.well {
	padding-left: 0;
	padding-right: 0;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

body {
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
	font-size: small;
}

/** end of common **/

#allcontent {
	padding: 5px 15px;
/*	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin-bottom: 0;
	border-bottom: 0;
	border-top: 0;*/
}


/** Header **/

.center-header {
	margin-left: 80px;
}

.header {
	height: 120px;
	background-color: red;

}

.calldescription {
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: medium;

}

.sidecheck.well{
	margin-bottom: 10px;
	margin-top: 15px;
	font-weight: bold;
	text-align: center;
}


.sidechecks {
	width: 250px;
}

.intro {
	padding-top: 20px;
	margin-top: 20px;
	width: 920px;
}

.ideas {
	margin-top: 40px;
}
.ideas li {
	height: 100px;
	font-size: 2em;
}


.action {
	margin-top: 40px;
	line-height: 25px;
}

.counter {
	margin-top: 10px;
}

.reasons {
	margin-top: 50px;
}

.sidebar {
	margin-left: 19px;
}

h4.bait {
	text-decoration: underline;
}

.comments {
	margin-top: 70px;
	margin-bottom: 70px;
}
.additional-comment {
	display: none;
}
.summary-comment {
	font-style: italic;

}
.author {
	margin-top: 20px;
}

.span8 h4 {
	text-align: center;
	margin-bottom: 30px;
}

.step{
	margin-left: 15px;
}
.icon-arrow-right{
	position: center;

}
 
 /** Verse content **/
 .verse-content {
 	padding: 0 15px;
 }

.aim{
	margin-left: 0;
	margin-top: 40px;
	padding: 0 10px;
}


.princips-list li {
	list-style: none;
}

.princips-list li, .reasons-list li {
	margin-top: 7px;
	margin-bottom: 7px;
}

/** footerone **/ 

.footerone{
	margin-top: 50px;
}

.step {
	width: 125px;
	float: left;
	margin-left: 25px;
}


/** footer **/

.footer {
	height: 60px;
	background-color: red;
}
.footer p {
	margin: 20px 0;
}
